{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <title>{% block title %}Iris Energy{% endblock %}</title>

</head>

<body>
  <div class="admin-entry-section">
    <div class="inner-admin">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-6 p-0 animated slideInDown">
            <div class="form-section forgot-section text-center">
              <img src="{% static 'images/logo.png' %}" class="logo" />
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
</div>
</div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>