{% extends  'base1.html' %}
{% block main %}
    <p className="lead"><strong>Thank you for choosing usl</strong> </p>
    <p>
 You may go ahead and <a href="{% url 'signin' %}">Sign in</a> now.
    </p>

    <div>
{% endblock %}